@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="p-5 text-center bg-secondary">
    <h1 class="mb-3">Tanner Bacon</h1>
    <h4 class="mb-3">Mission 6</h4>
    <a class="btn btn-primary" asp-controller="Razor" asp-action="GradeForm" role="button">Enter a New Movie</a>
</div>

<div class="p-5 text-center bg-light">
    <img src="img/hilton.jpg" width="400" />
    <p>
    </p>
</div>
<div class="p-5 text-center bg-secondary">

</div>
