@{
    ViewData["Title"] = "Movie Collection";
}


<div class="p-5 text-center bg-secondary">
    <h1 class="mb-3">Baconsale Podcast</h1>
    <h4 class="mb-3">A Hickory-Smoked Pop Culture Podcast</h4>
    <a class="btn btn-primary" href="https://baconsale.com/" role="button">Go To Podcast</a>
</div>

<div class="p-5 bg-light center-form">
    <form id="gradeform" class="bg-secondary" method="post">
        <h2>Grade Calculator</h2>
        <label>Assignments: </label>
        <input id="assignments" value="" class='col-md-3 input'  />
        <br />

        <label>Group Project: </label>
        <input id="groupproject" value="" class='col-md-3 input'  />
        <br />

        <label>Quizzes: </label>
        <input id="quizzes" value="" class='col-md-3 input' />
        <br />

        <label>Midterm Exam: </label>
        <input id="midterm" value="" class='col-md-3 input' @*asp-for="Midterm"*@ />
        <br />

        <label>Final Exam: </label>
        <input id="final" value="" class='col-md-3 input' @*asp-for="Final"*@ />
        <br />

        <label>INTEX: </label>
        <input id="intex" value="" class='col-md-3 input' @*asp-for="Intex"*@ />
        <br />

        <input type="submit" name="button" value="Calculate Grade" id="btnSend" class='btn-primary btn-block btn' />
        <br />

        <div asp-validation-summary="All"></div>

    </form>
</div>
