@{
    ViewData["Title"] = "Baconsale Podcast";
}

<div class="p-5 text-center bg-secondary">
    <h1 class="mb-3">Baconsale Podcast</h1>
    <h4 class="mb-3">A Hickory-Smoked Pop Culture Podcast</h4>
    <a class="btn btn-primary" href="https://baconsale.com/" role="button">Go To Podcast</a>
</div>
