@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie Uploaded";
}
@model ApplicationResponse


@if (Model.Rating == "R")
{
<h2>Yikes! @Model.Title is rated R. Nevertheless, it has been added!</h2>
}

<div class="p-5 text-center bg-secondary">
    <h1 class="mb-3">@Model.Title Has Been Successfully Added</h1>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Movies" role="button">Enter Another Movie</a>
</div>